<div class="container__small-card">
    <div class="container__smal-card-content">
        <div class="small-card__photo">
            <img
            src="https://th.bing.com/th/id/R.443b883e839ba3fbee3be6a75ee70bd0?rik=Mt2cRHdHyne1dg&pid=ImgRaw&r=0"
            alt=""
            height="100px"
            >
        </div>
        <div class="small-card__title">
            <h2><a href="#">~News about Zion~</a></h2>
        </div>
    </div>
    <div class="container__smal-card-separator">
        <hr>
    </div>     
</div>