<div class="home__container">
    <div class="home__head">
        <app-head></app-head>
    </div>

    <div class="home__cards">
        <app-big-card
        id="park"
        cardTitle="PARQUE"
        cardCover="https://www.skyglasscanela.com.br/imagens/parque/fundoparquenovo.png"
        cardNumber= {{parque}}
        />
        <app-big-card
        cardTitle="PLATAFORMA"
        cardCover="https://www.skyglasscanela.com.br//imagens/plataforma/plataforma-top.jpeg"
        cardNumber= {{plataforma}}
        />
        <app-big-card
        cardTitle="ABUSADO"
        cardCover="https://www.skyglasscanela.com.br//imagens/home/abusado.png"
        cardNumber= {{abusado}}

        />
    </div>
</div>



